<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="contact-section">
        <h3>Get in Touch</h3>
        <p>I'm always happy to connect, feel free to reach out:</p>
        
        <div class="contact-items">
          <div class="contact-item">
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:john@schrom.org">john@schrom.org</a>
          </div>
          <div class="contact-item">
            <i class="fa-solid fa-mobile-screen"></i>
            <a href="tel:415-238-7634">415-238-7634</a>
          </div>
          <div class="contact-item">
            <i class="fa-solid fa-brands fa-bluesky"></i>
            <a href="https://bsky.app/profile/schrom.org">@schrom.org</a>
          </div>
          <div class="contact-item">
            <i class="fa-solid fa-brands fa-github"></i>
            <a href="https://github.com/johnschrom/">johnschrom</a>
          </div>
          <div class="contact-item">
            <i class="fa-solid fa-brands fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/johnschrom/">johnschrom</a>
          </div>
        </div>
      </div>
      
      <div class="footer-bottom">
        <p>&copy; {{ 'now' | date: "%Y" }} John Schrom. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>