<div class="news">
  {% if site.news != blank %}
    {% assign news = site.news | reverse %}
    {% assign twelve_months_ago = 'now' | date: "%s" | minus: 31536000 %}
    {% assign recent_news = '' | split: '' %}
    
    {% for item in news %}
      {% assign item_timestamp = item.date | date: "%s" | plus: 0 %}
      {% if item_timestamp >= twelve_months_ago %}
        {% assign recent_news = recent_news | push: item %}
      {% endif %}
    {% endfor %}
    
    <div class="news-list">
      {% for item in recent_news %}
        <article class="news-item">
          <div class="news-content">
            <div class="news-meta">
              <time class="news-date">{{ item.date | date: '%b %d, %Y' }}</time>
            </div>
            <div class="news-body">
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
